##### BAIS 3250 Project Proposal 
##### Book & IMDb Movie Data Integration
###### May 9, 2025
###### Ella Solie

###### Import libraries

In [2]:
import pandas as pd

###### Read in csv files to be integrated.

In [5]:
df_imdb = pd.read_csv('esolie_bais3250_project_webscrape_imdb.csv')
df_books = pd.read_csv('Goodreadsbooks.csv')

###### Clean both datasets before integration.

In [8]:
# Clean IMDb movie titles
def clean_imdb_title(title):
    title = str(title)
    if '.' in title:
        title = title.split('.', 1)[1].strip()  # Remove the number and period
    return title 

# Clean Goodreads book titles 
def clean_book_title(title):
    title = str(title)
    if '(' in title:
        title = title.split('(')[0].strip()  # Keep only  part before '('
    return title  

# Apply to both datasets
df_imdb['Cleaned_Title'] = df_imdb['movie_title'].apply(clean_imdb_title)
df_books['Cleaned_Title'] = df_books['title'].apply(clean_book_title)

###### Integrate & merge the dataframes.

In [11]:
# Merge the two DataFrames on the cleaned title
merged_df = pd.merge(df_imdb, df_books, how='inner', on='Cleaned_Title')

###### Rename and drop columns as necessary

In [14]:
# Drop the original title columns, but keep the Cleaned_Title
merged_df = merged_df.drop(columns=['movie_title', 'title'])

# Rename the columns
merged_df = merged_df.rename(columns={
    'Cleaned_Title' : 'title',
    'average_rating': 'average_rating_book',
    'authors': 'book_authors',
    'ratings_count': 'ratings_count_book',
    '  num_pages': 'num_pages_book',
    'publication_date': 'publication_date_book',
    'publisher': 'publisher_book'
})

# Delete unnecessary columns
merged_df = merged_df.drop(columns=['bookID', 'isbn', 'isbn13', 'language_code', 'text_reviews_count', 'Unnamed: 12'])

In [16]:
# Convert data types to correct format
merged_df['release_year_movie'] = merged_df['release_year_movie'].fillna(0).astype(int)
merged_df['average_star_rating_movie'] = merged_df['average_star_rating_movie'].astype(float)
merged_df['vote_count_movie'] = merged_df['vote_count_movie'].fillna(0).astype(int)
merged_df['average_rating_book'] = merged_df['average_rating_book'].astype(float) 
merged_df['num_pages_book'] = merged_df['num_pages_book'].astype(int)  
merged_df['ratings_count_book'] = merged_df['ratings_count_book'].astype(int)

# Verify data types
print(merged_df.dtypes)

imdb_id                       object
average_star_rating_movie    float64
release_year_movie             int64
vote_count_movie               int64
duration_movie                object
movie_rating                  object
review_text                   object
title                         object
book_authors                  object
average_rating_book          float64
num_pages_book                 int64
ratings_count_book             int64
publication_date_book         object
publisher_book                object
dtype: object

In [18]:
print(merged_df)

       imdb_id  average_star_rating_movie  release_year_movie  \
0    tt0068646                        9.2                1972
1    tt0414387                        7.8                2005
2    tt0332280                        7.8                2004
3    tt0281358                        7.3                2002
4    tt0480249                        7.2                2007
..         ...                        ...                 ...
144  tt0381061                        8.0                2006
145  tt0381061                        8.0                2006
146  tt0360556                        5.0                2018
147  tt0360556                        5.0                2018
148  tt0360556                        5.0                2018

     vote_count_movie duration_movie movie_rating  \
0             2100000         2h 55m            R
1              352000          2h 9m           PG
2              654000          2h 3m        PG-13
3              227000         1h 41m           PG
4              849000         1h 41m        PG-13
..                ...            ...          ...
144            717000         2h 24m        PG-13
145            717000         2h 24m        PG-13
146             24000         1h 40m          NaN
147             24000         1h 40m          NaN
148             24000         1h 40m          NaN

                                           review_text               title  \
0    It is now past 1 PM and I just finished watchi...       The Godfather
1    Back in 1995, the definitive version of &quot;...   Pride & Prejudice
2    My wife and I watched this movie when it was f...        The Notebook
3    This was one of the best films I&#39;ve seen l...  A Walk to Remember
4    If I could sum this movie up in one sentence, ...         I Am Legend
..                                                 ...                 ...
144  I distinctly remember the collective groan fro...       Casino Royale
145  I distinctly remember the collective groan fro...       Casino Royale
146  ...I&#39;ll keep this brief.Bradbury would not...      Fahrenheit 451
147  ...I&#39;ll keep this brief.Bradbury would not...      Fahrenheit 451
148  ...I&#39;ll keep this brief.Bradbury would not...      Fahrenheit 451

                                          book_authors  average_rating_book  \
0                Mario Puzo/Peter Bart/Robert Thompson                 4.37
1                             Jane Austen/Vivien Jones                 4.26
2                                      Nicholas Sparks                 4.09
3                                      Nicholas Sparks                 4.17
4                                     Richard Matheson                 4.07
..                                                 ...                  ...
144  Anthony Hern/Ian Fleming/Henry Gammidge/John M...                 3.70
145                                        Ian Fleming                 3.73
146                      Ray Bradbury/Christopher Hurt                 3.99
147                                       Ray Bradbury                 3.99
148                        Ray Bradbury/Alfredo Crespo                 3.99

     num_pages_book  ratings_count_book publication_date_book  \
0               448                 180               10/4/05
1               392                1821                9/1/05
2               214             1090603                7/5/04
3               240              555995                9/1/04
4               160               55751               1/21/99
..              ...                 ...                   ...
144              96                 110                6/1/05
145             188                  56               10/1/88
146               5                 483               11/1/05
147             186                5733                4/1/04
148             176                 580              11/29/04

               publisher_book
0        New American Library
1               Penguin Books
2                      Bantam
3    Grand Central Publishing
4                   Millenium
..                        ...
144               Titan Books
145                   Coronet
146     Blackstone Audiobooks
147                   Del Rey
148                Debolsillo

[149 rows x 14 columns]

In [20]:
# Reorder columns
column_order = [
    'title', 'imdb_id', 'release_year_movie', 'movie_rating', 'duration_movie',
    'average_star_rating_movie', 'vote_count_movie', 'review_text',
    'book_authors', 'average_rating_book', 'num_pages_book', 
    'ratings_count_book', 'publication_date_book', 'publisher_book']

merged_df = merged_df[column_order]

# Remove duplicate rows
merged_df = merged_df.drop_duplicates()
merged_df = merged_df.drop_duplicates(subset=['title']) # near duplicates

# Merge the dataframe
merged_df.to_csv('merged_dataset.csv', index=False)

In [22]:
# Display first few rows of the cleaned & integrated dataset to verify
print(merged_df.head())

                title    imdb_id  release_year_movie movie_rating  \
0       The Godfather  tt0068646                1972            R
1   Pride & Prejudice  tt0414387                2005           PG
2        The Notebook  tt0332280                2004        PG-13
3  A Walk to Remember  tt0281358                2002           PG
4         I Am Legend  tt0480249                2007        PG-13

  duration_movie  average_star_rating_movie  vote_count_movie  \
0         2h 55m                        9.2           2100000
1          2h 9m                        7.8            352000
2          2h 3m                        7.8            654000
3         1h 41m                        7.3            227000
4         1h 41m                        7.2            849000

                                         review_text  \
0  It is now past 1 PM and I just finished watchi...
1  Back in 1995, the definitive version of &quot;...
2  My wife and I watched this movie when it was f...
3  This was one of the best films I&#39;ve seen l...
4  If I could sum this movie up in one sentence, ...

                            book_authors  average_rating_book  num_pages_book  \
0  Mario Puzo/Peter Bart/Robert Thompson                 4.37             448
1               Jane Austen/Vivien Jones                 4.26             392
2                        Nicholas Sparks                 4.09             214
3                        Nicholas Sparks                 4.17             240
4                       Richard Matheson                 4.07             160

   ratings_count_book publication_date_book            publisher_book
0                 180               10/4/05      New American Library
1                1821                9/1/05             Penguin Books
2             1090603                7/5/04                    Bantam
3              555995                9/1/04  Grand Central Publishing
4               55751               1/21/99                 Millenium

###### Save the integrated dataset

In [25]:
merged_df.to_csv("esolie_bais3250_project_integrated.csv", index=False, encoding='utf-8')

In [27]:
print(merged_df)

                  title    imdb_id  release_year_movie movie_rating  \
0         The Godfather  tt0068646                1972            R
1     Pride & Prejudice  tt0414387                2005           PG
2          The Notebook  tt0332280                2004        PG-13
3    A Walk to Remember  tt0281358                2002           PG
4           I Am Legend  tt0480249                2007        PG-13
..                  ...        ...                 ...          ...
134  The Princess Bride  tt0093779                1987           PG
136      Shutter Island  tt1130884                2010            R
137         Stand by Me  tt0092005                1986            R
138       Casino Royale  tt0061452                1967     Approved
146      Fahrenheit 451  tt0360556                2018          NaN

    duration_movie  average_star_rating_movie  vote_count_movie  \
0           2h 55m                        9.2           2100000
1            2h 9m                        7.8            352000
2            2h 3m                        7.8            654000
3           1h 41m                        7.3            227000
4           1h 41m                        7.2            849000
..             ...                        ...               ...
134         1h 38m                        8.0            466000
136         2h 18m                        8.2           1500000
137         1h 29m                        8.1            464000
138         2h 11m                        5.0             34000
146         1h 40m                        5.0             24000

                                           review_text  \
0    It is now past 1 PM and I just finished watchi...
1    Back in 1995, the definitive version of &quot;...
2    My wife and I watched this movie when it was f...
3    This was one of the best films I&#39;ve seen l...
4    If I could sum this movie up in one sentence, ...
..                                                 ...
134  A boy (Fred Savage) is home sick, and to his d...
136  I originally saw this film when it came out bu...
137  If you grew up in the world before WiFi, a hig...
138  Casino Royale has some outstanding elements. T...
146  ...I&#39;ll keep this brief.Bradbury would not...

                              book_authors  average_rating_book  \
0    Mario Puzo/Peter Bart/Robert Thompson                 4.37
1                 Jane Austen/Vivien Jones                 4.26
2                          Nicholas Sparks                 4.09
3                          Nicholas Sparks                 4.17
4                         Richard Matheson                 4.07
..                                     ...                  ...
134                        William Goldman                 4.26
136                          Dennis Lehane                 4.09
137                         Raynold Gideon                 4.32
138                            Ian Fleming                 3.73
146          Ray Bradbury/Christopher Hurt                 3.99

     num_pages_book  ratings_count_book publication_date_book  \
0               448                 180               10/4/05
1               392                1821                9/1/05
2               214             1090603                7/5/04
3               240              555995                9/1/04
4               160               55751               1/21/99
..              ...                 ...                   ...
134             456              703676               7/15/03
136             369              134985               4/27/04
137              96                1436                6/1/86
138             181               48961               8/27/02
146               5                 483               11/1/05

               publisher_book
0        New American Library
1               Penguin Books
2                      Bantam
3    Grand Central Publishing
4                   Millenium
..                        ...
134          Ballantine Books
136               HarperTorch
137   Columbia Pictures Pubns
138                   Penguin
146     Blackstone Audiobooks

[79 rows x 14 columns]